.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 77px 0;
  background-color: var(--color-beige);
}

.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px; /* Usar uma classe só para adicionar este container */
}

.banner__titulo {
  width: 600px;
  color: var(--color-green2);
}

.banner__titulo > span {
  color: var(--color-coral);
}
