.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 70px 0;
  background-color: var(--color-beige2);
}

.newsletter h2 {
  font-size: var(--font-size-h3);
  color: var(--color-coral);
}

.newsletter p {
  font-size: var(--font-size-body-large);
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.formulario-input {
  padding: 8px 24px;
  border: 1px solid var(--color-dark-gray);
  background-color: transparent;
  border-radius: 32px;
  flex: 1 0 200px;
}

.grupo-opcoes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.botao-enviar {
  padding: 8px 24px;
  background-color: var(--color-coral);
  color: #ffffff; /*Arrumar o nome dessa variável depois*/
  border: none;
  border-radius: 32rem;
  cursor: pointer;
  font-size: var(--font-size-body-large);
}

/*Isso aqui vai contra a metodologia BEM. Corrigir depois*/
.opcao input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Estiliza a aparência do checkbox personalizado */
.opcao {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.opcao input[type="checkbox"] + span {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-dark-gray);
  background-color: transparent;
  border-radius: 4px;
}

.opcao input[type="checkbox"]:checked + span {
  background-color: var(--color-coral);
}
