.ofertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--color-beige2);
  width: 100%;
  padding: 87px 0;
}

.ofertas__titulo {
  color: var(--color-coral);
  font-size: var(--font-size-h3);
}

.ofertas__slides {
  display: flex;
  gap: 1.25rem; /*Candidato a css var*/
  position: relative;
}

.ofertas__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem; /*Candidato a css var, como padding-xs, padding-s*/
  background-color: #ffffff; /*Corrigir essa cor branca de fundo*/
  border-radius: 1rem;
  text-align: center;
  gap: 1rem;
}

.ofertas__nome,
.ofertas__preco {
  /* pensar numa estrategia de definição de font family */
  font-family: var(--font-poppins);
  font-size: var(--font-size-h5);
  font-weight: 600;
}

.ofertas__nav {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--color-coral);
  color: #ffffff; /*Adicionar a cor em variável css correspondente*/
}

.ofertas__button {
  position: absolute;
  width: 100%; /*Corrigir esse tamanho fixo em px*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 45%;
}
