.planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 97px 0;
}

.planos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-coral);
  width: 1200px;
  padding: 2rem;
  border-radius: 2rem;
}

.planos__titulo {
  color: var(--color-beige2);
  font-size: var(--font-size-h3);
}

.planos__lista {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.planos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff; /*Arrumar essa cor depois*/
  padding: 1rem;
  border-radius: 1rem;
}

.planos__item > h3 {
  font-size: var(--font-size-h4);
}

.planos__item > p {
  width: 270px;
  text-align: center;
}

.planos__item > span {
  font-size: var(--font-size-h3);
  font-family: var(--font-sigmar);
  color: var(--color-coral);
}

.planos__botao {
  border: none;
  background-color: var(--color-coral);
  padding: 8px 24px;
  border-radius: 2rem;
  color: #ffffff; /*Arrumar essa cor branca depois*/
}
