.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
}

.rodape__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.rodape__icones {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.rodape__icone {
  margin-right: 0.5rem;
}

.rodape__icone:last-child {
  margin-right: 0;
}
