.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  width: 100%;
  padding: 102px 0;
}

.servicos-titulo {
  color: var(--color-coral);
}

.servicos-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Substituir as classes pelas tags puras, sem o uso do BEM*/
.servicos-lista > li > .link {
  position: relative;
  background-color: var(--color-beige);
  text-decoration: none;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  font-family: var(--font-sigmar);
  font-size: 1.563rem;
  color: var(--color-coral);
}

.link::before {
  content: "";
  position: absolute;
  left: -10px; /* Ajuste de acordo com o tamanho do ícone */
  bottom: 50%; /* Alinhamento vertical */
  width: 35px; /* Tamanho do ícone */
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(0); /* Começa com tamanho 0 */
  transition: transform 0.3s ease, left 0.3s ease; /* Transição suave */
}

/* Tem alguma forma melhor de fazer isso??? */
.banho-e-tosa > .link::before {
  background-image: url("../assets/icones/banho-e-tosa.png");
}

.hospedagem > .link::before {
  background-image: url("../assets/icones/hospedagem.png");
}

.veterinario > .link::before {
  background-image: url("../assets/icones/veterinario.png");
}

.adestramento > .link::before {
  background-image: url("../assets/icones/adestramento.png");
}

.petsiter > .link::before {
  background-image: url("../assets/icones/petsiter.png");
}

.servicos-lista > li > .link:hover {
  transform: scale(1.05); /* Aumenta suavemente o tamanho do link */
  transition: transform 0.3s ease-in;
  padding-left: 50px;
}

.link:hover::before {
  transform: scale(1) translateY(50%); /* Aumenta o ícone e ajusta sua posição */
  left: 0.5rem; /* Move o ícone para o lado do texto */
}
