.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  align-items: center;
  width: 100%;
  height: 375px;
}

.servicos__titulo {
  color: var(--color-coral);
}

.servicos__lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
}

.servicos__lista > .servicos__item > .servicos__link {
  /*Isso é realmente necessário???*/
  position: relative;
  background-color: var(--color-beige);
  text-decoration: none;
  border-radius: 16px;
  padding: 16px 24px;
  font-family: var(--font-sigmar);
  font-size: 25px;
  color: var(--color-coral);
}

.servicos__link::before {
  content: "";
  position: absolute;
  left: -10px; /* Ajuste de acordo com o tamanho do ícone */
  bottom: 50%; /* Alinhamento vertical */
  width: 35px; /* Tamanho do ícone */
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(0); /* Começa com tamanho 0 */
  transition: transform 0.3s ease, left 0.3s ease; /* Transição suave */
}

/* Tem alguma forma melhor de fazer isso??? */
.servicos__item:nth-child(1) > .servicos__link::before {
  background-image: url("../assets/icones/banho-e-tosa.png");
}

.servicos__item:nth-child(2) > .servicos__link::before {
  background-image: url("../assets/icones/hospedagem.png");
}

.servicos__item:nth-child(3) > .servicos__link::before {
  background-image: url("../assets/icones/veterinario.png");
}

.servicos__item:nth-child(4) > .servicos__link::before {
  background-image: url("../assets/icones/adestramento.png");
}

.servicos__item:nth-child(5) > .servicos__link::before {
  background-image: url("../assets/icones/petsiter.png");
}

.servicos__item > .servicos__link:hover {
  transform: scale(1.05); /* Aumenta suavemente o tamanho do link */
  transition: transform 0.3s ease-in;
  padding-left: 50px;
}

.servicos__link:hover::before {
  transform: scale(1) translateY(50%); /* Aumenta o ícone e ajusta sua posição */
  left: 10px; /* Move o ícone para o lado do texto */
}
